#SJ {
  height: 250px;
  border-radius: 250px;
}

p {
  margin: 5px;
}

.eboard-name {
  font-size: 32px;
  font-family: "Kameron";
  font-weight: bold;
  padding: 10px;
}

.headshot {
  width: 80%;
  border-radius: 250px;
  box-shadow: 0 0 10px gray;

}

.profile-container{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  margin: 0 auto;
  text-align: center;
}

#events-banner {
  width: 100%;
}

#events-container {
  position: relative;
  text-align: center;
  width: 80%;
}

#center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Permanent Marker';
  font-size: 75px;
  font-weight: bold;
  font-style: italic;
  text-shadow: 0 0 10px black;
}

#eboard-header {
  font-size: 50px;
}


#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

#left {
  margin-top: 50px;
  width: 50%;
  border-right: 1px solid gray;


}

.profile-info {
  font-family: "Aleo";
}

.eboard-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

#eboard-container{
  padding-bottom: 50px;
}

#desc {
  padding-left: 50px;
  padding-right: 50px;
}

#right {
  margin-top: 50px;
  width: 50%;
}

h1 {
  text-align: center;
}
