.eboard-name {
  font-size: 32px;
  font-family: "Kameron";
  font-weight: bold;
  padding: 10px;
}

.headshot {
  width: 80%;
  border-radius: 250px;
  box-shadow: 0 0 10px gray;

}

.profile-container{
  display: flex;
  flex-direction: column;
  width: 33.33%;
  margin: 0 auto;
  text-align: center;
}

#header-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
}

#left {
  margin-top: 50px;
  width: 50%;
  border-right: 1px solid gray;


}

.profile-info {
  font-family: "Aleo";
  line-height: 0.5;
}

.eboard-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

#eboard-container {
  padding-bottom: 50px;
}

#desc {
  padding-left: 50px;
  padding-right: 50px;
}

#right {
  margin-top: 50px;
  width: 50%;
}

h1 {
  text-align: center;
}
