#events-banner {
  width: 100%;
}

#events-container {
  position: relative;
  text-align: center;
  width: 100%;
}

#center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Permanent Marker';
  font-size: 100px;
  font-weight: bold;
  font-style: italic;
}

.event-container {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

.event-info-container {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Aleo";
}

.event-header{
  font-size: 36px;
  padding: 20px;
}

.event-image-container {
  width: 50%;
  margin: 0 auto;
}

.event-image {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  display: block;
  box-shadow: 0 0 20px gray;
}

.event-description {
  width: 85%;
  text-align: justify;
  margin: 0 auto;
}

.event-description-container {
  width: 50%;
}
