.event-container {
  width: 80%;
  margin: 0 auto;
  padding: 25px;
}

.event-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Aleo";
}

.event-header{
  font-size: 36px;
  padding-bottom: 20px;
}

.event-image-container {
  width: 50%;
  margin: 0 auto;
}

.event-image {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  display: block;
  box-shadow: 0 0 20px gray;
}

.event-description {
  width: 85%;
  text-align: justify;
  margin: 0 auto;
}

.event-description-container {
  width: 50%;
}
