#gajok-container {
  font-size: 50px;
  height: inherit;
  color: white;
  background-color: black;
  font-family: "Permanent Marker", cursive;
  width: 100%;
  margin: 0 auto;
  padding: 0;

}

#gajok-header{
  text-align: left;
  font-size: 50px;
}

#gajok-video {
  width: 476px;
  height: 268px;
  box-shadow: 0 0 20px gray;
}

#video-div {
  width: 40%;
  padding: 5%;
  margin: 0 auto;
  text-align: center;
}

.definition-container {
  line-height: 0.8;
  text-align: left;
  display: flex;
  align-items: center;
  animation-fill-mode: forwards;
  animation: fadeIn 3s;
  width: 40%;
  padding: 5%;
}

#video-container {
  font-family: "Noto Serif KR";
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: row;
}

#value-propositions {
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
  display: flex;
  flex-direction: row;
}

.value-prop-card {
  width: 33.33%;
  margin: auto;
}

#gajok-image {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 50px;
}

#gajok-row {
  width: 100%;
  margin: 0 auto;
}
@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.5, .5);
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
        transform: translate(-50%, -50%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h1{
  margin: 0;
  padding: 0;
}
