#banner {
  width: 90%;
  box-shadow: 25px 25px 50px 0 black inset, -25px -25px 50px 0 black inset;
}

#body-container {
  margin-bottom: 50px;
}
#home-text {
  width: 60%;
  text-align: justify;
  margin: auto;
  font-size: 20px;
  line-height: 2;
  font-family: "Roboto";
}

#welcome {
  font-size: 75px;
  padding: 30px;
  font-family: "Aleo";
}

#container {
  margin: 0 auto;
  text-align: center;
  background-color: black;

}

#events-banner {
  width: 100%;
}

#events-container {
  position: relative;
  text-align: center;
  width: 100%;
}

#center {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Roboto';
  font-size: 80px;
  font-weight: bold;
  font-style: italic;
  transform-origin: 50% 50%;

animation-duration: 1.5s;
animation-name: fadeAndScale;
animation-timing-function: cubic-bezier(.71,.55,.62,1.57);
}

@keyframes fadeAndScale {
    from {
        opacity: 0;
        transform: scale(.5, .5);
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
        transform: translate(-50%, -50%);
    }
}
