body {
  margin: 0px;
  background-color: white;
}

#nav-container {
  width: 100%;
  background-color: white !important;
}

#nav-links{
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 80%;
  height: 120px;
  margin: 0 auto;
  align-items: center;
  background: white !important;
}

.nav-item {
  width: 200px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}


.nav-item > a:hover {
  color: #b31b1b;
  border-bottom: 2px solid;
}


.nav-logo {
  width: 200px;
  text-align: center;
  transition: transform 0.5s ;
  transform: scale(1);
}

.nav-logo:hover {
  transition: transform 0.5s ;
  transform: scale(1.05);
  backface-visibility: hidden;
}

.nav-item > a {
  color: black;
  text-decoration: none;
  padding-bottom: 10px;
}

#logo {
  padding: 10px;
  height: 100px;
}
